/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.index-link {
    color: blue;
    text-align: center;

}

.profile-link {
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    text-align:right;

}
.exit-link {
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
    left: 1330px;
    width: 100px;
    text-align:right;
}

.title_book
{
    color: #2E2F30;
    text-align: center;
}

.book-container {
    text-align: center;
    columns: auto;
    width: 100%;
    justify-content: space-around;
}

.description-book {
    font-size: 20px;
    min-width: 200px;
    padding: 5px;
}

.description-book .description-book-row {
    font-size: 15px;
}